## Exercises Pandas Wrangling Week 2

Let's try out these data wrangling operations with the Iris dataset.

You should have downloaded the iris_csv.csv dataset into your working directory from the previous exercise.

In [14]:
# We should always start with the import, although it may have been run above
import pandas as pd

In [15]:
# read the data into a dataframe called irisdf
irisdf = pd.read_csv('D:/My Data ALL/Downloads/Week 2/iris_csv.csv')

**Q1. Missing Values**

Check if there are any missing values in the `irisdf` data set.

In [16]:
# Q1 Answer
irisdf.isna()

     sepallength  sepalwidth  petallength  petalwidth  class
0          False       False        False       False  False
1          False       False        False       False  False
2          False       False        False       False  False
3          False       False        False       False  False
4          False       False        False       False  False
..           ...         ...          ...         ...    ...
145        False       False        False       False  False
146        False       False        False       False  False
147        False       False        False       False  False
148        False       False        False       False  False
149        False       False        False       False  False

[150 rows x 5 columns]

**Q2. Find Duplicates**

There are three duplicate rows, display the rows.

In [17]:
#Q2 Answer
irisdf.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

**Q3. Calculate Mean**

Find the mean `sepallength` and store it in a variable called `mean_sepallength`

In [18]:
#Q3 answer
mean_sepallength = irisdf['sepallength'].mean()
print("mean sepallenght : " ,mean_sepallength)

mean sepallenght :  5.843333333333334

**Q4. Set Value**

Set the `sepallength` of the row with index 34 to the mean value found.

In [19]:
# Q4 Answer
irisdf.at[34, 'sepallength'] = mean_sepallength
print(irisdf)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

Check whether the number of duplicate rows has decreased by displaying the duplicated rows again. You can execute your answer to Q2 again)

**Q5. Drop Duplicates**

Drop the rows with duplicates

In [20]:
# Q5 answer
irisdf.drop_duplicates(inplace = True)
irisdf

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[148 rows x 5 columns]

Now check if there are any more duplicate values by running your answer to Q2 again.

**Q6. Set as NA**

Set the `sepalwidth` of the row with index 34 to `pd.NA` (which is pandas for NULL value)

In [21]:
# Q6 Answer
irisdf.at[34, 'sepalwidth'] = pd.NA

We should be able to view the contents of the row with index 34 using the `loc` attribute:

In [22]:
irisdf.loc[34]

sepallength       5.843333
sepalwidth             NaN
petallength            1.5
petalwidth             0.1
class          Iris-setosa
Name: 34, dtype: object

**Q7. Find Rows with Missing Values**

Find the rows with *any* NA values

In [23]:
# Q7 Answer
# Find the rows with any 'na' values, by row (axis = 1 indicates to check row by row)
rows_with_na = irisdf[irisdf.isna().any(axis=1)]
print(rows_with_na)

    sepallength  sepalwidth  petallength  petalwidth        class
34     5.843333         NaN          1.5         0.1  Iris-setosa

**Q8. Drop Rows with Missing Values**

Now drop the rows with missing values with the argument `inplace = True`

In [24]:
# Q8 answer
irisdf.dropna(inplace=True)
print(irisdf)

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[147 rows x 5 columns]

Check whether there are any more rows with NA values by running your answer to Q7 again.