## Exercises Pandas Intro Week 2

Let's try out these operations with the [Iris data set obtained from DataHub](https://datahub.io/machine-learning/iris#resource-iris).

Download the `iris_csv.csv` dataset into your working directory and then proceed with the questions below.

In [10]:
# We should always start with the import, although it may have been run above
import pandas as pd

In [11]:
# read the data into a dataframe called irisdf
irisdf = pd.read_csv('D:/My Data ALL/Downloads/Week 2/iris_csv.csv')
irisdf[irisdf.duplicated()==True]

     sepallength  sepalwidth  petallength  petalwidth           class
34           4.9         3.1          1.5         0.1     Iris-setosa
37           4.9         3.1          1.5         0.1     Iris-setosa
142          5.8         2.7          5.1         1.9  Iris-virginica

**Q1. Display Data**

Display the first 8 rows of the `DataFrame` object `irisdf`

In [12]:
# Q1 answer
irisdf.head(8)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa

 **Q2. Basic Exploration**
 
 Explore the data using the methods `info()` and `describe()`

In [13]:
# Q2 view information about the data frame

# use the info() method
irisdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sepallength  150 non-null    float64
 1   sepalwidth   150 non-null    float64
 2   petallength  150 non-null    float64
 3   petalwidth   150 non-null    float64
 4   class        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [14]:
# Q2 view information about the data frame

# use the describe() method
irisdf.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

**Q3. Show Columns**

Show the names of the columns

In [15]:
# Q3 answer
irisdf.columns

Index(['sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'class'], dtype='object')

**Q4. Show Frequency**

Find how many observations there are for each unique value of `class`.

In [16]:
# Q4 answer
irisdf["class"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: class, dtype: int64

**Q5. Grouping**

Using the `groupby()` method, find the means of the numeric values by class.

In [17]:
# Q5 answer
irisdf.groupby("class").mean()

                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026